
<header id="header" class="header is-active">
  <div class="container header-container">
    <div class="left-side">
      <div class="burger-icon hamburger hamburger-tablet">
        <span class="burger-icon-top"></span>
        <span class="burger-icon-mid"></span>
        <span class="burger-icon-bot"></span>
      </div>
      <a href="/" class="logo">
        <img src="/assets/img/icons8-transparent-100.png" alt="Acquire Logo">
      </a>
      <nav class="pages">
        <ul class="pages-list">
          <li class="pages-list-item">
            <span data-id="about" class="headers-h9 c-smoke mr-10 pages-list-item__dropdown">Sellers</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5575 5.68359L8 9.16439L11.4425 5.68359L12.5 6.75519L8 11.3152L3.5 6.75519L4.5575 5.68359Z" fill="#1B152A" />
            </svg>
            <div class="pages-list-item__submenu_seller">
              <div class="nav-submenu">
                <div class="nav-submenu__inner">
                  <!--<span class="menu-item-text">Keyword Discovery</span>-->
                  <!--<h3 class="nav-submenu__title headers-h3">Sellers</h3>-->
                  <div class="nav-submenu__items" style="margin-top:-2.5%">
                    <div class="nav-submenu__item-wrap">
                      <p class="item-name">Keyword Discovery</p>
                      <p class="item-desc">Generate Hunderds of related  <br>  and similar terms quickly</p>
                    </div>
                  </div>
                  <div class="nav-submenu__items">
                    <div class="nav-submenu__item-wrap">
                      <p class="item-name">Keyword Clusturing</p>
                      <p class="item-desc">Grouping keywords that are similar to    each other together</p>
                    </div>
                  </div>
                  <div class="nav-submenu__items">
                    <div class="nav-submenu__item-wrap">
                      <p class="item-name">Search Intent</p>
                      <p class="item-desc">We will classify search intent for your keyword</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="pages-list-item">
            <a href="/buyers/" data-id="buyers" class="headers-h9 c-smoke">Buyers</a>
          </li>
          <li class="pages-list-item">
            <span data-id="about" class="headers-h9 c-smoke mr-10 pages-list-item__dropdown">Pricing</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5575 5.68359L8 9.16439L11.4425 5.68359L12.5 6.75519L8 11.3152L3.5 6.75519L4.5575 5.68359Z" fill="#1B152A" />
            </svg>
            <div class="pages-list-item__submenu">
              <div class="nav-submenu">
                <div class="nav-submenu__inner">
                  <h3 class="nav-submenu__title headers-h3">Pricing</h3>
                  <div class="nav-submenu__items">
                    <div class="nav-submenu__item-wrap">
                      <a href="/seller-pricing/" class="submenu-item" target="_self">
                        <div class="submenu-item__icon">
                          <img src="/assets/img/list-startup.74a6da.svg" alt="icon">
                        </div>
                        <div class="submenu-item__copy">
                          <p class="mb-8 headers-h8 c-twilight">Sellers</p>
                          <p class="mb-8 special-caption-1-regular c-smoke">Get Acquire'd with an acquisition plan tailored to your exit goals.</p>
                          <p class="special-caption-1-italic c-ash">List and sell your business with expert support.</p>
                        </div>
                      </a>
                    </div>
                    <div class="nav-submenu__item-wrap">
                      <a href="/pricing/" class="submenu-item" target="_self">
                        <div class="submenu-item__icon">
                          <img src="/assets/img/star-outlined.b17fb1.svg" alt="icon">
                        </div>
                        <div class="submenu-item__copy">
                          <p class="mb-8 headers-h8 c-twilight">Buyers</p>
                          <p class="mb-8 special-caption-1-regular c-smoke">View buyer plans that connect you with founders and their startups.</p>
                          <p class="special-caption-1-italic c-ash">Connect with founders to pursue an acquisition.</p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="pages-list-item">
            <span data-id="about" class="headers-h9 c-smoke mr-10 pages-list-item__dropdown">Resources</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5575 5.68359L8 9.16439L11.4425 5.68359L12.5 6.75519L8 11.3152L3.5 6.75519L4.5575 5.68359Z" fill="#1B152A" />
            </svg>
            <div class="pages-list-item__submenu">
              <div class="nav-submenu">
                <div class="nav-submenu__inner">
                  <h3 class="nav-submenu__title headers-h3">Resources</h3>
                  <div class="nav-submenu__items">
                    <div class="nav-submenu__item-wrap">
                      <a href="https://help.acquire.com/" class="submenu-item" target="_blank">
                        <div class="submenu-item__icon">
                          <img src="/assets/img/help-center-icon.a0ffa6.svg" alt="icon">
                        </div>
                        <div class="submenu-item__copy">
                          <p class="mb-8 headers-h8 c-twilight">Help center</p>
                          <p class="mb-8 special-caption-1-regular c-smoke">How to use Acquire.com and other questions answered.</p>
                          <p class="special-caption-1-italic c-ash">Get the most out of the marketplace.</p>
                        </div>
                      </a>
                    </div>
                    <div class="nav-submenu__item-wrap">
                      <a href="https://blog.acquire.com/" class="submenu-item" target="_blank">
                        <div class="submenu-item__icon">
                          <img src="/assets/img/blog-icon.c40a0c.svg" alt="icon">
                        </div>
                        <div class="submenu-item__copy">
                          <p class="mb-8 headers-h8 c-twilight">Blog</p>
                          <p class="mb-8 special-caption-1-regular c-smoke">Learn how to buy, grow, and sell businesses.</p>
                          <p class="special-caption-1-italic c-ash">Become an acquisition expert in no time.</p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="account-links">
      <a href="https://app.acquire.com/signin" class="special-button-2 c-smoke account-links-login">Log in</a>
      <a href="https://app.acquire.com/signup" class="special-button-2 c-smoke account-links-apply button button-transparent">
        <div class="special-button-2 c-smoke">Join now</div>
        <div class="button-arrow">
          <img src="#" data-src="/assets/img/arrow-right-dark.11c40f.svg" class="lazy arrow-right img-black" data-load-priority="0" alt="arrow right">
        </div>
      </a>
    </div>
    <div class="burger-icon hamburger hamburger-mobile">
      <span class="burger-icon-top"></span>
      <span class="burger-icon-mid"></span>
      <span class="burger-icon-bot"></span>
    </div>
  </div>
  <div class="container legal-container hide">
    <a href="/legal/" class="back-button-link">
      <div class="back-button">
        <img src="/assets/img/arrow-right-dark.11c40f.svg" class="back" data-load-priority="0" alt="arrow right">
      </div>
    </a>
    <div class="legal-container-header">
      <div class="headers-h3-alt"></div>
      <div class="subtitle">
        <div class="special-caption-1-regular c-topaz">&nbsp;</div>
        <div class="special-caption-1-medium c-twilight"></div>
      </div>
    </div>
    <div style="flex:1"></div>
  </div>
</header>
<div>
  <ng-lottie [options]="options" (animationCreated)="animationCreated($event)" />
</div>
<div>
  <ng-lottie [options]="option" (animationCreated)="animationCreated($event)" />
</div>
